* {
    font-family: Helvetica;
}

.header {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('img/pattern.jpeg');
}

.brushes {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.price , .price2, .price3 {
    color: blue;
    font-weight: bold;
}

.frames {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;    
}